# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install packages
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-mpl
        pip install .
        bash debian_installer_phasetracer.bash
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest
    - name: Try CLI
      run: |
        ts --model RSS --point tests/rss_bp1.txt --apply set_daisy_method 2 --force --apply set_bUseBoltzmannSuppression True
    - name: Test script output
      run: |
        mkdir -p script_output
        mkdir -p config
        echo '{ "PhaseTracer_directory": "/home/runner/.PhaseTracer/" }' > config/config_user.json
        python3 -m examples.command_line_interface rss 1 script_output input/RSS/RSS_BP3.txt
        sudo apt install numdiff
        numdiff tests/RSS_BP35ab2907aa2a62d9b479c42c639658bf8ef5b197f/phase_history.json script_output/phase_history.json
        numdiff tests/RSS_BP35ab2907aa2a62d9b479c42c639658bf8ef5b197f/phase_structure.dat script_output/phase_structure.dat
